<div class="container">
    <div class="row">
        <h2>Upload a file!</h2>
    </div>
    <form (ngSubmit)="onSubmit()" #uploadForm="ngForm">
        <div class="form-group>">
            <label for="file">File: </label>
            <input type="file" class="form-control-file" (change)="selectFile($event)" accept=".csv" name="file" required/>
        </div>

        <div class="form-group">
        <button type="submit" class="btn btn-success col-auto">Upload</button>
        </div>
    </form>
    <div *ngIf="uploadTried" class="row">
        Upload {{ uploadSucceeded ? 'Succeeded' : 'Failed' }}
    </div>
</div>