<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Document Name</th>
        <th>Upload Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let document of documents$ | async"
        [class.selected]="document === selectedDocument"
        (click)="onSelect(document)"
        >
        <td>{{document.document}}</td> 
        <td>{{document.upload_date}}</td>
      </tr>
    </tbody>
  </table>

  <app-document-detail [document]="selectedDocument"></app-document-detail>
</div>